
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1{
        font-size: 1em;
    }
    section{
        padding: 100px 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1{
        font-size: 2em;
    }
    section{
        padding: 100px 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    /*background: rgb(25,25,25);*/
    background: rgba(255,255,255,.75);
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*background-color: #fad214;*/
    /*background-image: linear-gradient(to right, #fad214, #F4FA03);*/
}
header div{
    margin: 10px 40px;
    cursor: pointer;
}

header #hamburguer{
    width: 60px;
    position: relative;
    z-index: 100;
}

hr{
    border:1px solid gray;
    margin: 30px 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}
.menu li{
    padding: 30px 0;
}

.principal{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fad214;
    background-image: linear-gradient(to right, #fad214, #F4FA03);
}
.principal #scrollDownContainer{
    position: absolute;
    bottom: 10px;
    left: calc(50% - 25px);
    width: 50px;
    z-index: 10;

}

.principal-text{
    height: 300px!important;
    font-size: 1.3em;
    position: relative;
    z-index: 10;
}
.principal-text h1{
    text-align: left;
    color: #0E0E0E;
}
.principal .shapes{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.principal .shapes .shape-container:nth-child(1){
    position: absolute;
    left: -5%;
    top: -5%;
}
.principal .shapes .shape-container:nth-child(1) .shape{
    width: 400px;
}

.principal .shapes .shape-container:nth-child(2){
    position: absolute;
    right: -7%;
    bottom: -7%;
}
.principal .shapes .shape-container:nth-child(2) .shape {
    width: 800px;
    height: 800px;

}
section{
    min-height:500px;
}
.card-container{
    margin: 150px 0;
}
.disappear{
    left: -100%;
}
#aboutme{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #fad214;
    background-image: linear-gradient(to right, #fad214, #F4FA03);
}

#aboutme .aboutme-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    /*clip-path: circle(50%);*/
}
/*#aboutme .aboutme-img:before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -100px;*/
/*    left: -100px;*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background: red;*/
/*    border-radius: 1%;*/
/*    z-index: -1;*/
/*    background: url("https://images.pexels.com/photos/5542628/pexels-photo-5542628.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
/*    background-size: cover;*/
/*}*/
#aboutme .aboutme-img img{
    width: 100%;

}






/*//////////////////////// Scroll bar /////////////////////////////*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*//////////////////////// card /////////////////////////////*/


* {
    box-sizing: border-box;
}

.proyect-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 3%;
    background: #fff;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.proyect-card a {
    color: inherit;
}
.proyect-card a:hover {
    color: #fad214;
}
.proyect-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}
.proyect-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.proyect-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
.proyect-card .details, .proyect-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.proyect-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.proyect-card .details a {
    text-decoration: dotted underline;
}
.proyect-card .details ul li {
    display: inline-block;
}

.proyect-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.proyect-card .description h1, .proyect-card .description h2 {
    font-family: Poppins, sans-serif;
}
.proyect-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.proyect-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
.proyect-card .description .read-more {
    text-align: right;
}
.proyect-card .description .read-more a {
    color: #fad214;
    display: inline-block;
    position: relative;
}
.proyect-card .description .read-more a:after {
    content: "😄";
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}
.proyect-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}
.proyect-card p {
    position: relative;
    margin: 1rem 0 0;
}
.proyect-card p:first-of-type {
    margin-top: 1.25rem;
}
.proyect-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #fad214;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.proyect-card:hover .details {
    left: 0%;
}
@media (min-width: 640px) {
    .proyect-card {
        flex-direction: row;
        max-width: 1000px;
        height: 300px;
    }
    .proyect-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .proyect-card .description {
        flex-basis: 60%;
    }
    .proyect-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .proyect-card.alt {
        flex-direction: row-reverse;
    }
    .proyect-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
    .proyect-card.alt .details {
        padding-left: 25px;
    }
}


/*//////////////////////// Shapes/////////////////////////////*/



:root {
    --primary: #0b8793;
    --secondary: #948E99;
    --third: #e27fcb;
}

.shape-container {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
}
.shape {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 400px;
    transition: all 1s ease-in-out;
    z-index: 5;
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
}

/*//////////////////////// Skill card /////////////////////////////*/



.skill-card {
    display: inline-block;
    width: 15em;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    margin: 5px;
}

.skill-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill-card:hover .skill-card_header {
    height: 40px;
}

.skill-card:hover .skill-card_header .skill-card_icon {
    transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card:hover .skill-card_body {
    height: 170px;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li {
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
    transition-duration: .5s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(1) {
    transition-delay: 0.25s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(2) {
    transition-delay: 0.5s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(3) {
    transition-delay: 0.75s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(4) {
    transition-delay: 1s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(5) {
    transition-delay: 1.25s;
}

.skill-card:hover .skill-card_body .skill-card_knowledge li:nth-child(6) {
    transition-delay: 1.5s;
}

.skill-card .skill-card_header {
    position: relative;
    background-color: #eb6c3f;
    height: 170px;
    transition: height .5s;
    overflow: hidden;
}

.skill-card .skill-card_header .skill-card_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 128px;
    height: 128px;
    transition: transform .5s;
}

.skill-card .skill-card_body {
    height: 40px;
    transition: height .5s;
    overflow: hidden;
    padding: 5px 20px;

}

.skill-card .skill-card_body .skill-card_title {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-card .skill-card_body .skill-card_duration {
    color: #9E9E9E;
    font-style: italic;
}

.skill-card .skill-card_body .skill-card_knowledge {
    margin-top: 10px;
    color: #424242;
}

.skill-card .skill-card_body .skill-card_knowledge li {
    margin-top: 5px;
    transition-duration: 0;
    transition-delay: .5s;
    transform: translateX(-100%);
}