html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    /*background: rgb(25,25,25);*/
    background: rgba(255,255,255,.75);
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div{
    margin: 10px 40px;
    cursor: pointer;
}

header #hamburguer{
    width: 60px;
    position: relative;
    z-index: 100;
}

hr{
    border:1px solid gray;
    margin: 30px 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}
.menu li{
    padding: 30px 0;
}

.principal{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: orangered;
    background-image: linear-gradient(to right, #FFDB2F, #F4FA03);
}
.principal #scrollDownContainer{
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 50px;
}

.principal-text{
    height: 100px!important;
    font-size: 1.3em;
}
.principal-text h1{
    text-align: left;
    color: #0E0E0E;
    height: 50px;
}
section{
    height:500px;
}
.disappear{
    left: -100%;
}





/*//////////////////////// Scroll bar /////////////////////////////*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


